@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(220,22%,16%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;}

h1 {
    color: hsl(150, 100%, 66%);
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: hsl(218,20%,24%);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
}

img {
    width: 100%;
    margin: 0.8rem 0;
}

a {
    display: inline-flex;
    background-color: hsl(150,100%,66%);
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -60px;
    transform: translate(0,-50%);
}

a:hover{
    opacity: 0.8;
}

a img {
    width: 40%;
    aspect-ratio: 1/1;
}